[src*="assets/achievements/anime/animelist_8.jpg"] {
  content: url("https://shikimori.one/system/images/original/150147.gif?1770603504");
  object-fit: cover;
}

[src*="assets/achievements/anime/animelist_9.jpg"] {
  content: url("https://shikimori.one/system/images/original/150164.gif?1770605334");
  object-fit: cover;
}

[src*="assets/achievements/anime/shortie_1.jpg"] {
  content: url("https://shikimori.one/system/images/original/150159.gif?1770604670");
  object-fit: cover;
}

[src*="assets/achievements/anime/gar_1.jpg"] {
  content: url("https://shikimori.one/system/images/original/150148.gif?1770603588");
  object-fit: cover;
}

[src*="assets/achievements/anime/longshounen_1.jpg"] {
  content: url("https://shikimori.one/system/images/original/150149.gif?1770603654");
  object-fit: cover;
}

[src*="assets/achievements/anime/genki_2.jpg"] {
  content: url("https://shikimori.one/system/images/original/150160.gif?1770604704");
  object-fit: cover;
}

[src*="assets/achievements/anime/comedy_2.jpg"] {
  content: url("https://shikimori.one/system/images/original/150150.gif?1770603709");
  object-fit: cover;
}

[src*="assets/achievements/anime/romance_1.jpg"] {
  content: url("https://shikimori.one/system/images/original/150151.gif?1770603735");
  object-fit: cover;
}

[src*="assets/achievements/anime/historical_1.jpg"] {
  content: url("https://shikimori.one/system/images/original/150161.gif?1770604752");
  object-fit: cover;
}

[src*="assets/achievements/anime/dementia_psychological_2.jpg"] {
  content: url("https://shikimori.one/system/images/original/150153.gif?1770603782");
  object-fit: cover;
}

[src*="assets/achievements/anime/scifi_1.jpg"] {
  content: url("https://shikimori.one/system/images/original/150152.gif?1770603745");
  object-fit: cover;
}

[src*="assets/achievements/anime/drama_2.jpg"] {
  content: url("https://shikimori.one/system/images/original/150162.gif?1770604857");
  object-fit: cover;
}

[src*="assets/achievements/anime/horror_thriller_3.png"] {
  content: url("https://shikimori.one/system/images/original/150154.gif?1770603894");
  object-fit: cover;
}

[src*="assets/achievements/anime/military_2.png"] {
  content: url("https://shikimori.one/system/images/original/150155.gif?1770603980");
  object-fit: cover;
}

[src*="assets/achievements/anime/detektiv_1.jpg"] {
  content: url("https://shikimori.one/system/images/original/150156.gif?1770603993");
  object-fit: cover;
}

[src*="assets/achievements/anime/music_1.jpg"] {
  content: url("https://shikimori.one/system/images/original/150163.gif?1770604900");
  object-fit: cover;
}

[src*="assets/achievements/anime/author/makoto_shinkai.jpg"] {
  content: url("https://shikimori.one/system/images/original/150157.gif?1770604029");
  object-fit: cover;
}

[src*="assets/achievements/anime/author/hiroshi_hamasaki.jpg"] {
  content: url("https://shikimori.one/system/images/original/150158.gif?1770604038");
  object-fit: cover;
}
